body {
    background: #f5f5dc;
}

#footer {
    position: fixed;
    padding: 10px 0px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: grey;
}
.marquee {
    width: 350px;
    margin: 0 auto;
    background: yellow;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    color: blue;
    font-size: 18px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 15s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popcat {
    width: 400px;
}

#btn {
    width: 150px;
    height: 70px;
    font-size: 2em;
    letter-spacing: 3px;
    border: 3px solid #E0D0C6;
    background-color: transparent;
    color: #E0D0C6;
    margin-top: 40px;
    user-select: none;
    border-radius: 30px;
}

    #btn:focus {
        outline: none;
    }

    #btn:active {
        border: 3px solid darkgray;
        color: darkgray;
    }

@media only screen and (max-width: 480px) {
    #popcat {
        width: 200px;
    }
}